* {
    box-sizing: border-box;
}

body {
    font-family: 'Graphik LC TT';
    font-style: normal;
}

a {
    text-decoration: none;
}

.link {
    color: #000000;
    text-decoration: underline;
}

.container {
    max-width: 1290px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 95px;
}

.nav {
    margin-left: 51px;
    flex-grow: 2;
}

.nav-menu li a {
    margin-right: 57px;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
}

.nav-menu li a:hover {
    text-decoration: underline;
}

.nav-menu li:last-child {
    margin-right: 0;
}

.nav-menu {
    display: flex;
    justify-content: flex-start;
}

.btns .btn {
    min-width: 120px;
    font-weight: 600;
    font-size: 16px;
    line-height: 45px;
    text-align: center;
}

.btn_login {
    padding: 0px 36px;
    color: #000000;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin-right: 10px;
}

.btn:hover,
.btn_try button:hover,
.btn_work_tools button:hover {
    cursor: pointer;
}

.btn_try_it {
    background: #FF6336;
    border: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 45px;
    text-align: center;
    color: #FFFFFF;
}

.divider {
    border: 1px solid #CCCCCC;
}

/* Main */

.localization {
    margin-top: 130px;
    margin-bottom: 170px;
    display: flex;
    justify-content: space-between;
    color: #000000;
}

.localization img {
    max-width: 50%;
    object-fit: contain;
}

.localization h1 {
    max-width: 550px;
    margin-bottom: 50px;
    font-weight: 600;
    font-size: 65px;
    line-height: 70px;
}

.manage {
    max-width: 470px;
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
}

.comment {
    margin-top: 25px;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
}

.content .btn {
    min-width: 160px;
    font-weight: 600;
    font-size: 16px;
    line-height: 60px;
    text-align: center;
}

.btn_demo {
    margin-right: 10px;
    color: #FFFFFF;
    background: #FF6336;
    border: none;
}

.btn_localization {
    color: #000000;
}

/* Companies */

.companies {
    background: #FF9C7D;
    padding-top: 110px;
    padding-bottom: 120px;
}

.companies h2 {
    margin: 0 auto;
    margin-bottom: 80px;
    max-width: 720px;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    color: #000000;
}

.container .logo_group {
    display: flex;
    justify-content: space-between;
}

.logo_group {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.logo_group img {
    flex: 1 0 120px;
    max-width: 120px;
}

/* Control, Localize */

.control,
.localize,
.quality,
.dev {
    padding-top: 90px;
    margin-bottom: 250px;
    display: flex;
    justify-content: space-between;
    font-style: normal;
    color: #000000;
}

.content_control,
.localize_product,
.ensure_quality,
.less_work {
    max-width: 490px;
    color: #000000;
}

.content_control h2,
.localize_product h2,
.ensure_quality h2,
.less_work h2 {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 30px;
}

.content_control p,
.localize_product p,
.ensure_quality p,
.less_work p {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
}

.start {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

.start:hover {
    text-decoration: underline;
}

.localize,
.dev {
    flex-direction: row-reverse;
}

/* Localize  items*/

.item {
    text-align: center;
    flex-basis: 33.3333%;
    margin-bottom: 35px;
}

.localize_item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 150px;
}

.localize_items {
    background: #FFF8E4;
    padding-top: 120px;
}

.localize_items h2,
.boost_teams h2 {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    color: #000000;
    margin-bottom: 90px;
}

.item-title {
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
}

.item-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #000000;
    max-width: 330px;
    margin: 0 auto;
}

.item-img_wrap {
    margin-bottom: 25px;
}

/* Boost */

.boost_teams {
    padding-top: 150px;
    padding-bottom: 190px;
}

.team-title {
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    color: #000000;
    margin-bottom: 35px;
}

.team-description {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    margin-bottom: 25px;
}

.team_card a {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-decoration-line: underline;
    color: #000000;
}

.teams {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.team_card {
    flex-basis: 33.3333%;
    max-width: 405px;
}

.team-img_wrap {
    position: relative;
    min-height: 201px;
    margin-bottom: 50px;
}

.team-img_wrap img {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/* Chef */

.chief {
    background: #C9E8F2;
    padding-bottom: 105px;
}

.chief_block {
    display: flex;
    justify-content: space-between;
    padding-top: 53px;
}

.chief_qoute {
    max-width: 920px;
    margin-top: 10px;
}

.chief_qoute .quote {
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: #000000;
    margin-bottom: 23px;
}

.chief_qoute .name_chief {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #000000;
    margin-bottom: 7px;
}

/* Lovely software */

.software {
    background: #DABC98;
    padding: 90px 0px 80px 0px;
}

.cake_block {
    display: flex;
    justify-content: space-between;
}

.cake_text {
    align-self: center;
    font-weight: 600;
    font-size: 35px;
    line-height: 50px;
    color: #000000;
    max-width: 461px;
}

.group p,
.capterra p {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.75px;
    color: #000000;
}

.group ,
.capterra {
    align-self: center;
}

.img_cake_group{
    margin-bottom: 20px;
}

.img_capterra {
    margin: 6px 0 20px 0;
}

.cake_stars {
    margin-bottom: 15px;
}

.box {
    border-left: 1px solid black;
    padding: 30px 0 23px 70px;
}

/* Work tools */

.work_tools {
    padding: 165px 0;
}

.work_title {
    margin: 0 auto;
    text-align: center;
    max-width: 790px;
    font-weight: 600;
    font-size: 65px;
    line-height: 75px;
    
}

.work_tools .content {
    margin: 0 auto;
    max-width: 540px;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    margin-bottom: 25px;
}

.btn_work_tools button {
    padding: 0 20px;
    max-width: 195px;
    background: #FF6336;
    border: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
}

.btn_work_tools {
    text-align: center;
}

.img_work_tools {
    text-align: center;
    margin-bottom: 32px;
}

/* Try localization */

.try_localize {
    padding: 120px 0 160px;
    background: #FF9C7D;
}

.try_localize h2 {
    max-width: 785px;
    margin: 0 auto;
    font-weight: 600;
    font-size: 65px;
    line-height: 75px;
    text-align: center;
    color: #000000;
    margin-bottom: 30px;
}

.try_localize p {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    margin-bottom: 55px;
}

.btn_try button {
    margin: 0 auto;
    background: #000000;
    font-weight: 600;
    font-size: 17px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
    padding: 0 40px;
}

.btn_try {
    text-align: center;
}

/* Footer */

.case_studies {
    background: #EEEEEE;
    padding-top: 90px;
}

.case_specialized {
    display: flex;
    flex-direction: column;
}

.case_specialized h3 {
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    color: #000000;
    margin-bottom: 30px;
}

.case_specialized p {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    margin-bottom: 30px;
    max-width: 290px;
}

.case_specialized a {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    margin-bottom: 90px;
}

.velo {
    max-width: 300px;
    margin-bottom: 30px;
}

.foot_spec {
    max-width: 80px;
    margin-bottom: 11px;
}

.info {
    display: flex;
    justify-content: space-between;
}

.collumns {
    display: flex;
    justify-content: space-between;
    flex-basis: 65%;
    color: #000000;
}

.collumns h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 21px;
}

.collumns li {
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 15px;
    max-width: 175px;
    justify-content: flex-end;
    color: #000;
}

.collumns li:hover,
.case_specialized a:hover {
    text-decoration: underline;
}

.collumn {
    width: 20%;
}

/* Rights */

.divider_footer {
    border: 1px solid black;
    margin-bottom: 52px;
}

.rights {
    padding-bottom: 43px;
}

.rights_foot {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.workflow {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    max-width: 300px;
    margin-left: 14px;
}

.years {
    flex-grow: 1;
    text-align: end;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}